[Unit]
Description=Mailu IMAP daemon
After=docker.service mailu-network.service mailu-front.service
Requires=docker.service mailu-network.service mailu-front.service

[Service]
EnvironmentFile=/etc/mailu/mailu.conf
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
    --network mailu --network-alias=imap \
    --label com.docker.compose.service=imap \
    --env-file /etc/mailu/mailu.conf \
    --volume ${ROOT}/data:/data \
    --volume ${ROOT}/mail:/mail \
    --volume ${ROOT}/overrides:/overrides \
    mailu/dovecot:${VERSION}
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=mailu.target
