[Unit]
Description=Mailu WebDAV daemon
After=docker.service service-network.service
Requires=docker.service service-network.service

[Service]
EnvironmentFile=/etc/mailu/mailu.conf
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
    --network services --network-alias=webdav \
    --label com.docker.compose.service=webdav \
    --env-file /etc/mailu/mailu.conf \
    --volume ${ROOT}/dav:/data \
    mailu/${WEBDAV}:${VERSION}
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=mailu.target
