[Unit]
Description=Redis
After=docker.service service-network.service
Requires=docker.service service-network.service

[Service]
EnvironmentFile=/etc/mailu/mailu.conf
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
    --network services --network-alias=redis \
    --label com.docker.compose.service=redis \
    --publish 127.0.0.1:6379:6379 \
    --volume ${ROOT}/redis:/data \
    redis:4.0.6-alpine
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=mailu.target
