[Unit]
Description=Mailu Antivirus daemon
After=docker.service mailu-network.service
Requires=docker.service mailu-network.service

[Service]
EnvironmentFile=/etc/mailu/mailu.conf
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
    --network mailu --network-alias=antivirus \
    --label com.docker.compose.service=antivirus \
    --env-file /etc/mailu/mailu.conf \
    --volume ${ROOT}/filter:/data \
    mailu/${ANTIVIRUS}:${VERSION}
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=mailu.target
