[Unit]
Description=Nextcloud
After=docker.service postgres.service service-network.service
Requires=docker.service postgres.service service-network.service

[Service]
ExecStart=/usr/bin/systemd-docker run --rm --name %n \
    --network services --network-alias=nextcloud \
    --volume /data/nextcloud:/var/www/html \
    --volume /data/nextcloud/config:/var/www/html/config \
    --volume /data/nextcloud/data:/var/www/html/data \
    nextcloud:12.0.4-apache
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
