[Unit]
Description=Rspamd Spam filter
After=docker.service redis.service
Requires=docker.service redis.service

[Service]
ExecStart=/usr/bin/systemd-docker run --rm --name %n --volume /data/etc/rspamd/local.d:/etc/rspamd/local.d --volume /data/etc/rspamd/override.d:/etc/rspamd/override.d --volume /data/rspamd:/var/lib/rspamd --link redis.service:redis bsx303/rspamd:latest
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
