[Unit]
Description=Service unit for mailu service network
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/docker network create -d bridge services
ExecStop=-/usr/bin/docker network rm services

[Install]
WantedBy=mailu.target
